<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Character encoding for the document -->
        <meta charset="UTF-8">
        
        <!-- Ensures proper scaling on mobile devices -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- Title displayed in the browser tab -->
        <title>QR Code Generator</title>
        
        <!-- Preconnect to Google Fonts for faster loading -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        
        <!-- Importing Google Fonts -->
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
            rel="stylesheet">
        
        <!-- Link to the external CSS stylesheet -->
        <link rel="stylesheet" href="styles/styles.css" />
    </head>
