<%- include("partials/header.ejs") %>

    <body>

        <div class="title-container">
            <h1>QR Code Generator</h1>
        </div>

        <div class="qr-container">
            <% if (locals.qrPng) { %>
                <img src="<%= qrPng %>" >
            <% } %>
        </div>

        <div class="url-container">
            <p class="top">Enter an already existing url to generate your QR</p>
            <form action="/submit" method="POST">
                <input class="txtUrl" id="url" name="url" type="text" placeholder="Enter url.." required>
                <input class="button" type="submit" value="Generate">
            </form>
            <p class="bottom">Example: http:www.example.com</p>
        </div>

        <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="index.js" type="module"></script>
    </body>
</html>

<%- include("partials/footer.ejs") %>